<div style="text-align:center">
  <div class="map" #mapElement></div>
</div>
<div>
  <p>
    Για να κλείσετε κάποια σκηνή, γράψτε το ID της σκηνής
    στο κουτάκι και πατήστε το κουμπί Contact Host.
    Θα ανοίξει νέο παράθυρο όπου μπορείτε να
    συμπληρώσετε μια φόρμα επικοινωνίας με τον
    κάθε host ώστε να πραγματοποιήσετε την κράτηση.
  </p>
  <p>
    Type the ID of the tent and click "Contact Host" to
    speak with your chosen host!
  </p>
    <input type="text" name="ID Skinis" value="00">
    <input type="submit" value="Contact Host">
</div>
