.full {
  height: 98vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  text-align: right;
  z-index: 5;
}

button, a {
  font-family: sans-serif;
  background-color: #65c1c7;
  border: 1px solid #65c1c7;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  width: auto;
  padding: 7px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 9999;
}
