<h1>
  Καλωσήλθατε στο TentBnB
</h1>
<h3><em>
  Welcome to TentBnB</em>
</h3>
<div class="container">
<div class="intro">
<p>
  Το TentBnB ειναι μια πλατφόρμα που προσπαθεί να πετύχει αυτό που πετυχαίνει το
  AirBnB, αλλά με σκηνές, στην ελληνική επικράτεια, και κυρίως στα νησιά!
</p>
<p>
  Νέοι και μεγάλοι, θαμώνες των νησιών μας, έχουν φροντίσει να στήσουν
  τις σκηνές τους στα νησιά και τις παραλίες μας από ακρετά νωρίς και να
  εξασφαλίσουν τις καλύτερες θέσεις, τις λεγόμενες "καβάτζες".
</p>
<p>
  Τα αβαντάζ πολλά, ανάλογα με το μέρος. Σκιά, εγγύτητα σε πηγάδι, σε
  μέρη διασκεδάσεως, ή απλά μια άδεια από τους ντόπιους σε μέρη όπου
  το κάμπιν δεν είναι και τόσο ανεκτό.
</p>
<p>
  Περιηγηθείτε στον χάρτη μας και δεν θα απογοητευτείτε! Σίγουρα θα βρεθεί κάτι και για εσάς!
</p>

<p>
  Τί άλλο περιμένετε;;;;
</p>
<a href="./map">Choose your tent!</a>

</div>
<div>
<small>Το site είναι ακόμα υπό κατασκευή, παρ' όλα αυτά
μπορείτε να επικοινωνείτε με τους ιδιοκτήτες μέσω της φόρμας μας, μέχρι να
βελτιωθούν οι διαδικασίες κλεισίματος (booking) και διαδικτυακών συναλλαγών!</small>
<small><b>Η ομάδα του TentBnB.</b></small>
</div>
</div>
